/*.img-div {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/


.giflist .column{
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    margin: 0;
    position: relative;
    top: 0;
}

.trending{

    background-position: 50%;
    background-size: cover;
    border-radius: 2px;
    height: 90px;
    padding: 10px;
    position: relative;
    width: 100%;
}