
.carousel-container .left-arrow {
    top: 30%;
    right: 0%;
    cursor: pointer;
}
.carousel-container .right-arrow {
    top:30%;
    cursor: pointer;
}

.giflist .column{
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    margin: 0;
    position: relative;
    top: 0;
}

.trending{

    background-position: 50%;
    background-size: cover;
    border-radius: 2px;
    height: 100px;
    padding: 10px;
    position: relative;
    width: 225px;
}